{% extends "base.html" %}
{% block title %}Transfer Complete - Member {{ member.member_id }} - LegacyBank Operations Console{% endblock %}
{% block body_class %}page-complete{% endblock %}
{% block content %}
<h1>Transfer Complete</h1>
<p role="status"><b>The transfer has been posted.</b></p>
<table class="summary receipt">
  <caption>Transaction</caption>
  <tr><th scope="row">Reference</th><td>{{ transfer.reference }}</td></tr>
  <tr><th scope="row">Member</th><td>{{ member.member_id }} &mdash; {{ member.full_name }}</td></tr>
  <tr><th scope="row">From account</th><td>{{ from_label }}</td></tr>
  <tr><th scope="row">To account</th><td>{{ to_label }}</td></tr>
  <tr><th scope="row">Amount</th><td>{{ amount_display }}</td></tr>
</table>
<table class="balances">
  <caption>Updated balances</caption>
  {% for label, balance in account_rows %}
  <tr><th scope="row">{{ label }}</th><td>{{ balance }}</td></tr>
  {% endfor %}
</table>
<p class="actions"><a href="{{ url_for('bank.member_detail', member_id=member.member_id) }}">Back to member</a></p>
{% endblock %}
